<div class="container top-container">
    <div class="container 3x bg-dark"></div>
    <div class="container bg-purple"></div>
    <div class="container bg-blue"></div>
    <div class="container bg-green"></div>
    <div class="container bg-yellow"></div>
    <div class="container bg-orange"></div>
    <div class="container 2x bg-red"></div>
</div>


<!--<banner></banner>-->
<div class="container even">
    <sidebar class="container menu-container stack" ng-hide="$ctrl.isLogin"></sidebar>
    <div class="container stack main-container">
        <header class="container fit header-container bg-darker"></header>
        <div id="loading-bar-container"></div>
        <div class="container page-container bg-light" ui-view></div>
        <!--<div class="container" ui-view></div>-->
    </div>
</div>