<div class="container stack scroll">
  <div class="container fit stack" style="background-color: #4b5e6f;background-image: url('https://api.mapbox.com/styles/v1/checkin101/cj3tn133500212sqf9xvhooi3/static/174.76508,-36.84927,4,0/1280x300@2x?access_token=pk.eyJ1IjoiY2hlY2tpbjEwMSIsImEiOiJjajNncnhlN3YwMDRuMndxc3VldG8zMDZvIn0.13J6FuLrWdOzd4ub_xwkNA&attribution=false&logo=false');
    height: 200px;background-size: cover;background-position: center;">
    <div class="container"></div>
    <div class="container fit center"><div class="map-circle"></div></div>
    <div class="container fit stack">
      <div class="container profile-container">
          <div class="container fit"><div class="large-avatar">JC</div></div>
          <div class="container fit stack">
            <div class="container">Jill Carson</div>
            <div class="container profile-details"><i class="material-icons">&#xE0C8;</i> Auckland, New Zealand   <i class="material-icons">&#xE192;</i> 3:00 pm</div>
          </div>
      </div>
    </div>
    
  </div>
  <!--Page content-->
  <div class="container stack content-container scroll">
    <div class="container fit content-actions">
      <div class="container fit action-item">
        <div class="button white"><i class="material-icons">&#xE8A3;</i> Tag</div>
      </div>
      <div class="container fit action-item">
        <div class="button white"><i class="material-icons">&#xE8A3;</i> Conversation</div>
      </div>
      <div class="container fit action-item">
        <div class="button white"><i class="material-icons">&#xE157;</i> Link to Survey</div>
      </div>
    </div>
    <div class="container">
                <div class="container fit size-fix">
                  <div class="container fit stack page-filter page-profile scroll clear-card">
                    <div class="filter-item">
                      <div class="module-title">Person Details</div>
                    </div>
                    <div class="filter-item filter-line"></div>
                    <div class="filter-item container">
                      <div class="container"><i class="material-icons">&#xE913;</i> Email</div>
                      <div class="container fit right">jcarson@globalxyz.com</div>
                    </div>
                    <div class="filter-item filter-line"></div>
                    <div class="filter-item container">
                      <div class="container"><i class="material-icons">&#xE8D4;</i> Last Responded</div>
                      <div class="container fit right">12 days ago</div>
                    </div>
                    <div class="filter-item filter-line"></div>
                    <div class="filter-item container">
                      <div class="container"><i class="material-icons">&#xE8D4;</i> Responses</div>
                      <div class="container fit right">9</div>
                    </div>
                    <div class="filter-item filter-line"></div>
                    <div class="filter-item container">
                      <div class="container"><i class="material-icons">&#xE8E5;</i> Linked Surveys</div>
                      <div class="container fit right">Upwards</div>
                    </div>
                    <div class="filter-item filter-line"></div>
                  </div>
                </div>

                <div class="container fit space"></div>
                <div class="container fit space"></div>
                
                <div class="container stack">
                  <div class="container stack fit">
                    <div class="module-title">Response Sentiment</div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 306 51" width="100%"><g style="opacity:0.7"><rect x="274.62" y="19.72" width="31.38" height="31.28" style="fill:#fdb515"/></g><g style="opacity:0.7"><rect x="235.38" width="31.38" height="51" style="fill:#6fb94c"/></g><g style="opacity:0.7"><rect x="196.15" y="7.48" width="31.38" height="43.52" style="fill:#6fb94c"/></g><g style="opacity:0.7"><rect x="156.92" y="30.6" width="31.38" height="20.4" style="fill:#e07c5f"/></g><g style="opacity:0.7"><rect x="117.69" y="34.68" width="31.38" height="16.32" style="fill:#e07c5f"/></g><g style="opacity:0.7"><rect x="78.46" y="30.6" width="31.38" height="20.4" style="fill:#e07c5f"/></g><g style="opacity:0.7"><rect x="39.23" y="4.08" width="31.38" height="46.92" style="fill:#6fb94c"/></g><g style="opacity:0.7"><rect y="19.72" width="31.38" height="31.28" style="fill:#fdb515"/></g></svg>
                  </div>
                  <div class="container size-fix">
                    <div class="container stack page-filter scroll">
                      <div class="filter-item">
                        <div class="module-title">Last Survey Response</div>
                      </div>
                      <div class="filter-item filter-line"></div>
                        <div class="filter-item container">
                          <div class="container"><i class="material-icons">&#xE913;</i> Title</div>
                          <div class="container fit right">Some survey name</div>
                        </div>
                        <div class="filter-item filter-line"></div>
                        <div class="filter-item container">
                          <div class="container"><i class="material-icons">&#xE913;</i> Responded Date</div>
                          <div class="container fit right">2 days ago</div>
                        </div>
                        <div class="filter-item filter-line"></div>
                        <div class="filter-item container">
                          <div class="container"><i class="material-icons">&#xE913;</i> Response Sentiment</div>
                          <div class="container fit right">4.2</div>
                        </div>
                        <div class="filter-item filter-line spacer"></div>
                        <div class="filter-item">
                          <div class="module-title">Last Survey Response</div>
                        </div>
                        <div class="filter-item container">
                          <div class="container question">Some question here? <span class="response">Some insightful reply</span></div>
                        </div>

                    </div>

                  </div>
                </div>

                <div class="container fit space"></div>
                <div class="container fit space"></div>

                <div class="container fit size-fix">
                  <div class="container fit stack page-filter page-profile scroll">
                    <div class="filter-item">
                      <div class="module-title">Response History</div>
                    </div>
                    <div class="filter-item filter-line"></div>
                    <div class="filter-item container">
                      <div class="container"><i class="material-icons">&#xE913;</i> 12 days ago</div>
                      <div class="container fit right"><div class="button white">&#x25CF; &#x25CF; &#x25CF;</div></div>
                    </div>
                    <div class="filter-item filter-line"></div>
                    <div class="filter-item container">
                      <div class="container"><i class="material-icons">&#xE913;</i> 14 days ago</div>
                      <div class="container fit right"><div class="button white">&#x25CF; &#x25CF; &#x25CF;</div></div>
                    </div>
                    <div class="filter-item filter-line"></div>
                    <div class="filter-item container">
                      <div class="container"><i class="material-icons">&#xE913;</i> 20 days ago</div>
                      <div class="container fit right"><div class="button white">&#x25CF; &#x25CF; &#x25CF;</div></div>
                    </div>
                    <div class="filter-item filter-line"></div>

                   
                  </div>
                </div>

                <div class="container fit space"></div>
                <div class="container fit space"></div>
    </div>
  </div>
</div>